{% extends 'flowerdelivery/base.html' %}
{% block content %}
<div class="container mt-4">
    <h1>{{ product.name }}</h1>
    <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
    <p>{{ product.description }}</p>
    <p>Price: {{ product.price }} руб.</p>
    <!-- Можно добавить кнопку для добавления в корзину здесь -->
    <form method="post" action="{% url 'add_to_cart' %}" class="form-inline">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <input type="number" name="quantity" value="1" min="1" class="form-control mr-2">
        <button type="submit" class="btn btn-primary">В корзину</button>
    </form>
</div>
{% endblock %}
