<!-- templates/orders/order_list.html -->
{% extends 'flowerdelivery/base.html' %}
{% load custom_filters %}
{% block content %}
<div class="container mt-4">
    <h2>Мои заказы</h2>
    {% if orders %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Номер заказа</th>
                    <th>Дата заказа</th>
                    <th>Сумма</th>
                    <th>Дата и время доставки</th>
                    <th>Статус</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.created_at|date:"d.m.y" }}</td>
                    <td>{{ order.total_amount|format_currency }} руб.</td>
                    <td>{{ order.delivery_date|date:"d.m.y" }} {{ order.delivery_time|time:"H:i" }}</td>
                    <td>{{ order.get_status_display }}</td> <!-- Отображение статуса заказа -->
                    <td>
                        <a href="{% url 'order_detail' order.id %}" class="btn btn-sm btn-outline-primary">Подробнее</a>
                        <a href="{% url 'repeat_order' order.id %}" class="btn btn-sm btn-outline-secondary">Повторить заказ</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>У вас нет заказов.</p>
    {% endif %}
</div>
{% endblock %}
